@keyframes loading {
    from {
        right: 84px;
    }
    to {
        right: 80px;
    }
}

.core {
    fill: transparent;
    transition: fill 0.3s 0.03s linear;
}

.main-body {
    fill: transparent;
    transition: fill 0.3s linear;
}

.contour {
    transition: fill 0.1s linear;
}

.sparks {
    fill: transparent;
}

.like-icon:hover .core {
    fill: var(--heart-contour-color);
    transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
    fill: var(--heart-contour-color);
    transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
    fill: var(--heart-sparks);
    transition: fill 0.3s linear;
}

.like-icon:active .main-body {
    fill: var(--heart-sparks);
    transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
    fill: var(--heart-sparks);
    transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
    fill: var(--heart-sparks);
    transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
    fill: var(--heart-sparks);
    transition: fill 0.3s 0.06s linear;
}

@keyframes increase {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.like-icon.is-liked .heart {
    transform-origin: center;
    animation: increase 0.3s 0.1s ease-in;
}

@keyframes spark {
    from {
        fill: none;
    }
    50% {
        fill: var(--heart-sparks);
    }
    100% {
        fill: none;
    }
}

.like-icon.is-liked .sparks {
    animation: spark 0.3s 0.3s ease-in;
}
