@keyframes loading {
    from {
        right: 84px;
    }
    to {
        right: 80px;
    }
}

.theme-menu__button:disabled:before {
    content: "▶";
    position: absolute;
    right: 20px;
    opacity: 0.6;
    animation: loading 0.5s infinite ease-in-out alternate;
}

.core {
    fill: transparent;
    transition: fill 0s 0.03s;
}

.main-body {
    fill: transparent;
    transition: fill 0.3s;
}

.contour {
    transition: fill 0.1s;
}

.like-icon:hover .core {
    fill: var(--heart-contour-color);
    transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
    fill: var(--heart-contour-color);
    transition: fill 0.3s 0.05s;
}

.like-icon:active .core {
    fill: var(--heart-sparks);
    transition: fill 0.3s 0.03s;
}

.like-icon:active .main-body {
    fill: var(--heart-sparks);
    transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .core {
    fill: var(--heart-sparks);
    transition: fill 0.3s 0.03s;
}

.like-icon.is-liked .main-body {
    fill: var(--heart-sparks);
    transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .contour {
    fill: var(--heart-sparks);
    transition: fill 0.3s 0.06s;
}

@keyframes increase {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}

.like-icon.is-liked .heart {
    transform-origin: center;
    animation: increase 0.3s 0.1s ease-in backwards;
}

@keyframes spark {
    from {
        fill: none;
    }
    to {
        fill: var(--heart-sparks);
    }
}

.like-icon.is-liked .sparks {
    animation: spark 0.3s 0.3s ease-in backwards;
}
