.page {
    display: flex;
    flex-direction: column;
    padding-block-start:100px;
    color: var(--accent-color);
    font-family: var(--main-font), sans-serif;
    writing-mode: horizontal-tb;
    background-image: repeating-linear-gradient(var(--gradient-bg-left)),
    repeating-linear-gradient(var(--gradient-bg-top)),
    repeating-linear-gradient(var(--gradient-bg-all));
    background-size: cover;
    background-attachment: fixed;
    font-variation-settings: "wght" var(--wght), "slnt" var(--slnt);
    block-size: 100%;
    inline-size: 100%;
    align-items: center;
    margin: 0 auto;
}

@supports (font-variation-settings: normal) {
    .page {
        font-family: var(--main-font);
    }
}

.header {
    min-block-size: 327px;
    block-size: var(--header-hight);
}

.header__title {
    align-self: center;
    padding-block-start: var(--title-padding);
    font-family: var(--accent-font);
    font-weight: 400;
    font-size: var(--title-font-size);
    line-height: 1;
}

.header__description {
    align-self: center;
    padding-block-start: var(--description-padding);
    font-family: var(--accent-font);
    font-weight: 400;
    font-size: var(--description-font-size);
    line-height: 1;
    text-align: left;
    text-transform: uppercase;
}

.header__theme-menu {
    align-self: center;
    padding-inline-start: 7px;
    padding-block-start: var(--padding-menu);
}

.theme-menu__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    inline-size: 84px;
}

.theme-menu__item {
    position: relative;
}

.theme-menu__button {
    border: none;
    opacity: 1;
    font-family: var(--accent-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    background-color: transparent;
    transition: opacity 0.3s ease;
}

.theme-menu__button:disabled {
    opacity: 0.6;
}

.theme-menu__button:disabled:before {
    content: "▶";
    position: absolute;
    top: 3px;
    right: 20px;
    opacity: 0.6;
    animation: loading 0.5s infinite ease-in-out alternate;
}

.theme-menu__button:focus,
.theme-menu__button:hover,
.theme-menu__button:focus-visible {
    outline: none;
    opacity: 0.6;
}

.theme-menu__button::after {
    content: '';
    display: block;
    border-bottom: 2px solid var(--focus-color);
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: scaleX(0);
    transform-origin: left;
}

.theme-menu__button:focus-visible::after {
    opacity: 0.6;
    transform: scaleX(1);
}

.content {
    padding-block-start: 100px;
    inline-size: 100%;
    margin: 0;
}

.content__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 52px;
}

.card {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 0;
    border: 2px solid var(--accent-color);
    background-color: var(--bg-color);
    inline-size: var(--card-width);
    max-inline-size: 700px;
}

.card__title {
    padding: 5px 10px;
    font-size: 18px;
    line-height: 1.15;
    font-variation-settings: var(--card-title-width-text);
}

.card__text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px;
    font-size: 18px;
    line-height: 1.15;
    font-variation-settings: var(--main-font-text);
}

.card__image {
    position: relative;
    display: inline-block;
    border-top: 2px solid var(--accent-color);
    border-bottom: 2px solid var(--accent-color);
}

.card__image-label {
    position: absolute;
    top: 22px;
    right: 3.5%;
    z-index: 1;
    opacity: 0.5;
    color: var(--accent-color);
    font-family: var(--accent-font);
    font-size: 14px;
    line-height: 0.9;
    text-shadow: 0 0 2px var(--accent-color);
}

@supports((text-stroke: 1px var(--label-color)) or (-webkit-text-stroke: 1px var(--label-color))) {
    .card__image-label {
        -webkit-text-stroke: 1px var(--label-color);
        text-stroke: 1px var(--label-color);
        text-shadow: none;
    }
}

.image {
    display: block;
    object-fit: cover;
    object-position: center;
    inline-size: 100%;
    block-size: var(--card-width);
}

.image__unsplash {
    filter: grayscale(0.8);
}

.image__excuses {
    filter: saturate(15%);
}

.image__kid {
    filter: saturate(140%);
}

.image__man {
    filter: brightness(165%) contrast(50%);
}

.image__children {
    filter: sepia(80%);
}

.image__cat {
    filter: invert(0.8);
}

.image__monkey {
    filter: brightness(80%) saturate(50%) hue-rotate(135deg);
}

.image__mountain {
    filter: saturate(180%);
}

.card__controls {
    display: flex;
    align-self: end;
    block-size: 36px;
    inline-size: 183px;
}

.card__icon-button {
    border: 2px solid transparent;
    background-color: transparent;
    transition: border 0.3s ease;
}

.card__icon-button:focus {
    outline: none;
}

.card__icon-button:focus-visible {
    border: 2px solid var(--accent-color);
    outline: none;
}

.like-icon {
    inline-size: 39px;
    block-size: 36px;
}

.card__like-button {
    position: relative;
    padding-block-start: 5px;
    inline-size: 130px;
}

.button {
    position: relative;
    margin: 0;
    border: 2px solid var(--accent-color);
    background-color: var(--bg-color);
    transition: box-shadow 0.3s ease;
}

.button:focus {
    outline: none;
}

.button:focus-visible {
    box-shadow: 2px 2px 0 0 var(--border-color);
}

.button__text {
    font-family: var(--accent-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 0.9;
}

.button__text-dialog {
    color: var(--accent-color);
    text-transform: uppercase;
}

.button::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--bg-color-animation);
    background-blend-mode: difference;
    transition: transform 0.5s ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
    mix-blend-mode: difference;
}

.button:hover::before {
    transform: scaleX(1);
}

.footer {
    align-self: center;
    padding-block-start: 52px;
    padding-block-end: 80px;
}

.footer__button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-inline-start: 17px;
    padding-block-start: 6px;
    block-size: 54px;
    inline-size: 338px;
}

.footer__block {
    inline-size: var(--footer-width);
}

.dialog {
    position: fixed;
    inset: 0;
    border: 2px solid var(--border-color);
    background: var(--bg-color);
    max-inline-size: 353px;
    inline-size: var(--dialog-width);
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-block-end: 26px;
    padding-inline-start: 26px;
}

dialog:not([open]) {
    opacity: 0;
    pointer-events: none;
}

.dialog__title {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-block-start: 16px;
    color: var(--accent-color);
    inline-size: 260px;
}

.dialog__title-font {
    font-family: var(--accent-font);
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 150%;
    text-transform: uppercase;
}

.dialog__block {
    inline-size: 96px;
}

.dialog__button {
    block-size: 36px;
    inline-size: 293px;
}

dialog::backdrop {
    background: var(--bg-color-dialog);
}

@media (max-width: 375px) {
    .footer__button {
        flex-direction: column;
        padding-inline-start: 5px;
        padding-block-start: 13px;
        block-size: 84px;
        inline-size: 306px;
    }

    .header__title {
        font-size: var(--title-font-size-mobile);
        line-height: 1.35;
    }

    .header__description {
        line-height: 1.4;
    }

    .card {
        inline-size: var(--card-width-mobile);
    }

    .dialog {
        inline-size: var(--dialog-width-mobile);
    }

    .dialog__card {
        inline-size: 257px;
    }
}




